<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
         http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

  <context-param>
    <param-name>timeZone</param-name>
    <param-value>Kiev</param-value>
  </context-param>

  <servlet>
    <servlet-name>homeServlet</servlet-name>
    <servlet-class>com.epam.courses.lection07Web.HomeServlet</servlet-class>
    <init-param>
      <param-name>locale</param-name>
      <param-value>en</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>homeServlet</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>

</web-app>